<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <context:component-scan base-package="com.lip6.services.*" /> <context:annotation-config/> -->
	<bean id="emf" class="com.lip6.util.JpaUtil"
		factory-method="getEmf" />

	<bean id="firstContactFromBean"
		class="com.lip6.domain.model.Contact">
		<property name="firstName">
			<value>Pierre-Jean</value>
		</property>
		<property name="lastName">
			<value>Miguel</value>
		</property>
		<property name="email">
			<value>pj@gmail.com</value>
		</property>
	</bean>

	<bean id="secondContactFromBean"
		class="com.lip6.domain.model.Contact">
		<property name="firstName">
			<value>Aymeric</value>
		</property>
		<property name="lastName">
			<value>Laforche</value>
		</property>
		<property name="email">
			<value>al@gmail.com</value>
		</property>
	</bean>

	<bean id="adressForContactNumberOne"
		class="com.lip6.domain.model.Address">
		<property name="rue">
			<value>55 Rue Diderot</value>
		</property>
		<property name="departement">
			<value>94500</value>
		</property>
		<property name="ville">
			<value>Champigny-Sur-Marne</value>
		</property>
	</bean>

	<bean id="adressForContactNumberTwo"
		class="com.lip6.domain.model.Address">
		<property name="rue">
			<value>200 Av. de la République</value>
		</property>
		<property name="departement">
			<value>92000</value>
		</property>
		<property name="ville">
			<value>Nanterre</value>
		</property>
	</bean>


	<bean id="numNumberOne" class="com.lip6.domain.model.PhoneNum">
		<property name="num">
			<value>0678845625</value>
		</property>
	</bean>

	<bean id="numNumberTwo" class="com.lip6.domain.model.PhoneNum">
		<property name="num">
			<value>0754854765</value>
		</property>
	</bean>

	<bean id="numNumberThree" class="com.lip6.domain.model.PhoneNum">
		<property name="num">
			<value>0147748547</value>
		</property>
	</bean>

	<bean id="numNumberFour" class="com.lip6.domain.model.PhoneNum">
		<property name="num">
			<value>0554589621</value>
		</property>
	</bean>
	
	<bean id="firstGroupContactFromBean" class="com.lip6.domain.model.ContactGroup">
		<property name="libelle">
			<value>Le groupe numero1</value>
		</property>
	</bean>
</beans>
